*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* css for navigation bar */
nav{
    width: 100%;
    top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    z-index: 10;
    height: max-content;
    background-color: white;
}
.images{
    display: flex;
    
    align-items: center;
    justify-content: space-around;
}
.nav_sub_img{
    display: flex;
    justify-content: space-evenly;
}
.logo{
    margin-left: 140px;
    margin-top: 30px;
    margin-right: 50px;
    margin-bottom: 10px;
}
.bus{
    background-color: rgb(216,78,85);
    height: 80px;
    width: 90px;
    margin: 3px;
    margin-left: 50px;
    margin-top: 30px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: transparent;
    color: white;
}
.bus_logo{
    background-color: white;
    opacity: .5;
}
.train{
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: 10px;
    height: 80px;
    width: 90px;
    border: transparent;
    background-color: transparent;
}


/* css for account and help */
.links{

    display: flex;
    align-items:center ;
    justify-content: flex-end;
    margin-right: 80px;
}

.links a{
    color: gray;
    text-decoration: none;
    margin: 40px;
}
/* css for background pic div */
.allu_container{
    width: 100%;
    height: max-content;
}

/* background image of allu arjun  */
.allu{
    width: 100%;
  height:100%; /* Adjust as needed */
  background-image: url('images/HeroImageV2_C.png');
  background-size: cover; /* Ensures the image covers the entire container */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents repetition */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
}
/*  css for heading in class n0_1*/
.no_1 h1{
    color: white;
    margin-top: 90px;
    margin-bottom: 30px;
    font-size: xx-large;
    font-weight: 900;
}

/* div for seclection portion */

.selection{
    display: flex;
    background-color: white;
    width: 60%;
    justify-content: center;
    margin-bottom: 140px;
    height: 110px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
/* css for input portions */
input{
  height: 110px;  
  border:1px solid gray;
  font-size: large;
  width: 100%;

}
.frominput{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-color: transparent;
}

.from{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    width: 25%;
}
.to{
    width: 25%;
}

/* css for date portion */
.date{
    width: 25%;
    height: 100%;
}
.date_choose{
    width: 100%;
    border-color: transparent;
}
/* css for search button */
.sdiv{
    height: 100%;
    width: 25%;
}
.search{
    height: 110px;
    width: 100%;
    color: white;
    font-size: large;
    background-color:  rgb(216,78,85);
    border:1px solid transparent;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;

}



/* css for image crousal */
.image_gallery{
    width: 70%;
    height: max-content;
    box-shadow: 0 0 8px 6px #999;
    border-radius: 30px;
    margin: auto;
}
.top_imagegal{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: auto;
    padding: 2%;
}
/* css for trending offer */
.trend h1{
 font-size: xx-large;
 font-weight: 100;
 opacity: .6;
}

/* css for view all button */
.view{
    border: 1px solid gray;
    border-radius: 20px;
    padding-right: 8px;
    padding-left: 8px;
}
.view button{
    border-color: transparent;
    background-color: transparent;
    color: blue;
    font-size: xx-large;
}
.images{
    display: flex;
    flex-wrap: wrap;
    padding:10px 10px 10px 10px;
}
.slides{
    height: 150px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image: linear-gradient(rgb(26,75,161), rgb(49,103,197));
    color: white;

}
.xbyx{
    border-radius: 50%;
    height: max-content;
    width: max-content;
}
.xbyx>img{
    height: 4.5rem;
    width: 4.5rem;
}
.first{
    border: 1px dotted white;
    display: inline-block;
}

.Bus_slide{
    background-color: transparent;
    border-color: #99999976;
    color: white;
    height: 20px;
    width: 40px;
}
/* css for advt */
.advt{
    display: flex;
    justify-content: center;
    padding: 70px;
}
.advt>div>img{
    width: 1200px;
    height: 100px;
}


/* css rail background pic */
.rail_container{
    height: max-content;
    width: 90%;
    margin: 30px;
}
.sec_rail_container{
    width: 100%;
}
.rail{
    width: 50%;
    float: right;
    height: 700px;
    background-image: url(images/railPop.svg);
    background-size: cover; /* Ensures the image covers the entire container */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents repetition */
  display: flex;
  flex-direction: column;
  align-items: center;
   margin: auto;
}
.heading{
    width: 35%;
    height: max-content;  
}
.lines{
    font-weight: 400;
    font-size: 45px;
    line-height: 50px;
    padding-left: 70px;
    padding-top: 40px;
}

.train_ticket{
    display: flex;
    color:  rgb(216,78,85);;
    margin-left: 70px;
    margin-top: 40px;
    align-items: center;
}
.train_ticket>div>img{
    height: 35px;
}
.ticket{
    margin-left:10px ;
}

.rule{
    background-color:  rgb(216,78,85);
    width: 230px;
    height: 3px;
    margin-left: 65px;
}

.paragraph{
    margin-left: 70px;
    margin-top: 30px;
    line-height: 30px;
    font-size: larger;
    font-weight:100;
}


.three_lines{
    margin-left: 70px;
}

.aut{
    display: flex;
    align-items: center;
}

.aut>img{
    margin-right: 9px;
    margin-top: 12px;
}
.aut>h1{
    margin-top: 12px;
}

.bookt{
    margin-left: 70px;
    margin-top: 40px;
}
.bookt>button{
    background-color:rgb(216,78,85) ;

    border-style: none;
    height: 40px;
    width: 200px;
    border-radius: 12px;
    color: white;
    font-size: larger
}



/* css for red_container */
.red_container{
    display: flex;
    
    margin: 30px;
    background-color: rgb(216,78,85);
    width: 80%;
    margin: auto;
    height: 350px;
    border-radius: 25px;
}
.enjoy{
    display: flex;
}
.enjoy>h1{
    padding-left: 20px;
    padding-top: 20px;
    font-weight: 300;
    font-size: 40px;
    color: white;
}

.white_container{
    background-color: white;
    display: flex;
    flex-direction: column;
    margin: 20px;
    border-radius: 20px;
    width: 350px;
}
.white_container>div{
    display: flex;
    padding: 10px; 
}
.white_container>div>i{
    padding-left: 20px;
    padding-right: 10px;
}
.white_container>div>p{
    opacity: .7;
    font-size: large;
}
.star{
    color: #999;
    margin: 20px;
    line-height: 30px;
}
.qr_down{
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 40px;
}

.down_conatainer{
    margin-left: 40px;
    width: 120px;
}
.down_conatainer>div>h3{
    color: white;
    padding-bottom: 20px;
}
.scan{
    width: 100px;
}
.scan>div>h3{
    color: white;
    padding-bottom: 20px;
}




/* css for primo section */
.primo_container{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:auto;
    padding-top: 70px;
}

.graph_container{
    display: flex;
    gap: 60px;
    margin-top: 40px;
}


.graph{
    display: flex;
 background-image: linear-gradient(rgb(45,72,151),rgb(119,70,136));
 align-items: center;
 padding: 20px;
 border-radius: 10px;
 color: white;
 line-height: 25px;
 width: 1/3;
}
.graph>div>p{
    margin-top: 10px;
}
.graph>img{
    margin-right: 14px;
}



/* css for partner container */

.partner_container{
    width: 80%;
    margin:70px auto 70px auto;
    display: flex;
    flex-direction: column;   
}

.RTC_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0px 50px 0px;
}

.view_all{
    height: 50px;
    width: 100px;
    background-color: transparent;
    border-radius: 15px;
    border-width: .5px;
}
.view_all:hover{
    box-shadow: 0px 0px 5px 1px gray;
}

.logo_container{
    display: flex;
    justify-content: space-evenly;

}
.logo_part{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.logo_part>div>img{
    width: 6rem;
    height: 6rem;
}

.rtc{
    height: 40px;
    width: 6rem;
    border-radius: 30px;
    background-color: transparent;
    border-style: none;
}
.rtc:hover{
    background-color: gray;
}



/* css for operators */
.operators{
    width: 80%;
    margin:70px auto 70px auto;
     display: flex;
     flex-direction: column;
     
}

.table{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.table>div>button{
    height: 50px;
    width: 180px;
    border-radius: 15px;
    border-style: none;
    background-color: transparent;
    font-size: larger;
    font-weight: 300;
    opacity: .8;
}

.table>div>button:hover{
    background-color: #999999;
}


/* css for global pertners */

.global_presence_container{
    width: 80%;
    margin:70px auto 70px auto;
}
.RTC_container>div>h1{
    font-weight: 400;
}


/* css for book container */

.book_container{
    width: 80%;
    margin:70px auto 70px auto;
    line-height: 30px;
    opacity: .8;
    word-spacing: 5px;
    font-size: large;
}
#myBtn{
    background-color: transparent;
    color: blue;
    border-style: none;
}


/* css for red_deals_conatiner */

.red_deals_container{
    width: 80%;
    display: flex;
    flex-direction: column;
    margin:70px auto 70px auto;
}
.red_head{
    font-size: 40px;
    margin-bottom: 20px;
    opacity: .8;
}
.red_para{
    font-size: 20px;
    opacity: .8;
    line-height: 30px;
    margin-bottom: 70px;
}

.red_deal_box{
    border-radius: 16px;
    background-color: transparent;
    height: max-content;
    display: flex;
    border: 1px solid gray;
    justify-content: space-evenly;
    align-items: center;
    height: 150px;
}
.red_logo_container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.red_logo{
    margin: auto;
}
.red_deal_button{
    background-color: rgb(216,78,85);
    height: 40px;
    width: 100px;
    border-radius: 10px;
    color: white;
    border-style: none;
}

.colour{
    color: rgb(216,78,85);
}


/* css for FAQ conatiner */
.faq_conatiner{
    width: 80%;
 margin:70px auto 70px auto;
 display: flex;
 flex-direction: column;
}
.faq_head{
    font-size: 30px;
    margin-bottom: 20px;
    opacity: .8;

}

.faq_category{
    display: flex;
    width: 60%;
    justify-content: space-evenly;
}

.category{
    font-size: 30px;
    opacity: .8;
    font-weight: 100;
}
.general{
    color: rgb(216,78,85);
    text-decoration: underline;
}

.faqbox{
    display: flex;
    border-radius: 10px;
    border: 1px solid gray;
    justify-content: space-between;
    margin:10px 0px 10px 0px;
}
 .faqbox>div{
    font-size: large;
    padding: 20px;
 }


 /* css for footer */
 .footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #99999958;
}

.footer_dwn{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin:10px auto 10px auto;
    border-bottom: 1px solid black;

 }
 .footer_dwn>div{
    font-size: x-large;
    margin: 20px 0px 20px 0px;
    opacity: .8;
}
.ftable_container{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    height: 450px;
    margin:70px auto 70px auto;
    border-bottom: 1px solid rgba(0, 0, 0, 0.496);
 }
.table_logo{
    display: flex;
    flex-direction: column;

}
.table_logo>div>p{
    line-height: 30px;
    opacity: .8;
}
.ftable{
    width: 200px;
    height: 300px;
    margin: auto;
    text-align: left;
}
th{
    font-size: larger;
}
tr{
    height: 30px;
}
td{
    opacity: .8;
}


/* css for copy */
.copy{
    display: flex;
    width: 80%;
    margin:10px auto 10px auto;
    justify-content: space-between;
    opacity: .8;
}
.social{
    display: flex;
}
.social>div{
    margin: 8px;
}